/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}




/******************************************
/* LAYOUT
/*******************************************/
body{
  background-color: antiquewhite;
  font-family: 'Akshar', sans-serif;
  display: flex;
  justify-content: center;
  color: antiquewhite;
}

main{
  background-color: rgb(88, 30, 45);
  border-radius: 25px;
  border: 15px double antiquewhite;
  margin: 5% 0 0 0;
  padding: 15px 50px 25px 50px;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
  width: 80%;
}

main * {
  display: block;
  text-align: center;
}

img{
  margin: 10px auto;
  max-height: 400px;
  max-width: 80%;
  /* background-color: rgb(230, 215, 196); */
  border-radius: 10px;
}

h1{
  font-weight: 600;
}

h2{
  font-weight: 500;
}

h3{
  display: block;
  width: 100%;
}

h3, span{
  font-weight: 300;
}

h4{
  font-weight: 500;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
