/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}




/******************************************
/* LAYOUT
/*******************************************/
body{
  background-color: rgb(88, 30, 45);
  font-family: 'Akshar', sans-serif;
  display: flex;
  justify-content: center;
}

main{
  background-color: antiquewhite;
  border-radius: 25px;
  border: 15px double rgb(88, 30, 45);
  margin: 5% 0 0 0;
  padding: 15px 50px 25px 50px;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
  width: 80%;
}

main * {
  display: block;
  text-align: center;
}

.drinkResult * {
  display: block;
}

input{
  margin: 5px;
}

.drinkResult{
  display: flex;
  flex-wrap: wrap;
}

@media all and (min-width: 600px) {
  section section{
    width: 50%;
  }
}

@media all and (max-width: 599px) {
  section section{
    width: 100%;
  }
}

.drinkIngredients{
  display: flex;
  flex-direction: column;
  align-items: center;
}

span{
  display: block;
  width: 100%;
}

img{
  margin: 0 auto;
  height: 200px;
  /* background-color: rgb(230, 215, 196); */
  border-radius: 10px;
}

h1{
  font-weight: 600;
}

h2{
  font-weight: 500;
}

h3{
  display: block;
  width: 100%;
}

h3, span{
  font-weight: 300;
}

h4{
  font-weight: 500;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
